$user_tags: (
  "100288999964286976": ( content: "AG Pilot", background: #1e9dff, color: #fcde00, ),
  "102171488739667968": ( content: "Donator", background: #3e82e6, color: #fff, ),
  "103713842189594624": ( content: "Idol", background: #582fa7, color: #fff, ),
  "104717799926034432": ( content: "Twilight Princess", background: #672382, color: #fff, ),
  "104938361159987200": ( content: "God", background: #336699, color: #fff, ),
  "106093784151924736": ( content: "coder", background: #cb8afc, color: #fff, ),
  "107003083208278016": ( content: "Mr.Astute", background: #2d4bdd, color: #000, ),
  "107511169366888448": ( content: "His Code Works", color: var(--mc, #fff), border: 2px solid #672382, border-radius: 11px, animation: hue-rotate 1.5s linear infinite, filter: hue-rotate(360deg) invert(1), ),
  "107762184641089536": ( content: "S U P R E M E", background: #d02120, color: #fff, ),
  "114847475864567817": ( content: "Hawkestra", background: #ff0077, color: #fff, ),
  "114975260436070408": ( content: "lewd catgirl", background: #ff66cc, color: #fff, ),
  "115995222999040000": ( content: "Female", background: #cc10ac, color: #fff, ),
  "116243287936860167": ( content: "Miezengang", background: #79c8f4, color: #fff, ),
  "118580050458181632": ( content: "말보다는 행동이지", background: #1a1a1a, color: #fff, ),
  "120353989886869504": ( content: "Synapse", background: #d2c8e3, color: #fff, ),
  "120873599254003712": ( content: "Penguin Slapper", background: #ff00f0, color: #fff, ),
  "124684559844376580": ( content: "FurFag", background: #92ff00, color: #000, ),
  "125511726308392960": ( content: "King", background: #daa520, color: #fff, ),
  "128948605263413248": ( content: "Dongus", background: #de8237, color: #fff, ),
  "130327833858932736": ( content: "Edge Lord", background: #ba55d3, color: #fff, ),
  "131903461771051009": ( content: "The Legend of Link", background: #0064b4, color: #fff, ),
  "133427206251741185": ( content: "Princess", background: #f096f7, color: #fff, ),
  "134501787695710208": ( content: "Yung God", background: #7289da, color: #fff, ),
  "135069809057464321": ( content: "QuattuorSiivet", background: #b19cd9, color: #fff, ),
  "137687390218092544": ( content: "Muffin", background: #b036ed, color: #fff, ),
  "140594936377507842": ( content: "Hn", background: #ff0000, color: #fff, ),
  "141336087841865728": ( content: "chemically inert", background: #80f7f1, color: #fff, ),
  "142236265582952448": ( content: "Free.mp3", background: #a06f4c, color: #fff, ),
  "142598737779228672": ( content: "TayNation", background: #f77525, color: #fff, ),
  "143365927398801408": ( content: "Increasingly H", background: #5342f4, ),
  "144898194860539904": ( content: "Bleat!", background: #3d89ff, color: #fff, ),
  "145295834764935168": ( content: "MoonButt Lulu", background: #5e4ba5, color: #fff, ),
  "145708322853617664": ( content: "Pink.OPPAI", background: #e808e8, color: #fff, ),
  "145799943980843008": ( content: "Cute Kitty", background: #e91e63, color: #fff, ),
  "146743774909825024": ( content: "DekiDesu", background: #620882, color: #fff, ),
  "146937960992997376": ( content: "Satan", background: #c90c38, color: #000, ),
  "150757187344531465": ( content: "BOT", background: #ffa276, color: #fff, ),
  "150780668677193729": ( content: "Lau God", background: #672382, color: #4286f4, ),
  "153263357292445696": ( content: "big nigga", background: #ffff00, color: #fff, ),
  "157979918108590081": ( content: "swedish pagan", background: #062ba6, color: #fff, ),
  "158496035591815168": ( content: "ABG", background: #00ffff, color: #fff, ),
  "166198887487504384": ( content: "Bun", background: #441470, color: #fff, ),
  "168759625875718145": ( content: "G0D", background: #e67e22, color: #fff, ),
  "169176612640653322": ( content: "Unicorn", background: #ffb6c1, color: #fff, ),
  "169967786813030400": ( content: "OG", background: #ffd700, color: #fff, ),
  "170027884944162816": ( content: "Princess Derp", background: #2780e6, color: #fff, ),
  "171395218258657281": ( content: "Draconic", background: #6a0000, color: #000, ),
  "172426681800196096": ( content: "Exorcist", background: #8d2036, color: #fff, ),
  "173177738914562048": ( content: "D E A D", background: #6ac062, ),
  "173398322332172288": ( content: "ShieldE", background: #1e2124, color: #fff, ),
  "174986536184578049": ( content: "Draakaan", background: #be1010, color: #000, ),
  "176566790384648192": ( content: "GOD", background: #3e82e6, color: #fff, ),
  "177516608778928129": ( content: "KWAK", background: #3498db, color: #fff, ),
  "177744816665395200": ( content: "doofus", ),
  "181323761264361472": ( content: "The Boshy Now!", background: #00b6ff, color: #fff, ),
  "182501713423499264": ( content: "Meow Meow", background: #f00000, color: #fff, ),
  "183359032126472195": ( content: "Legend", background: #00bfff, color: #fff, ),
  "183368079839985665": ( content: "Princess", background: #ff69b4, ),
  "185119357578379264": ( content: "Daddy", background: #fa00ff, color: #000000, ),
  "185971884435832832": ( content: "3rd Strt Saints", background: #3c0177, color: #fff, ),
  "186090970062782464": ( content: "random person", background: #ff00ff, color: #fff, ),
  "188066841262817291": ( content: " Developer ", background: #7289da, color: #fff, ),
  "194182804110704640": ( content: "G0D", background: #7f0000, color: #000, ),
  "196378466487107584": ( content: "ShitHead", background: #3e82e5, color: #fff, ),
  "196501452104007680": ( content: "Galaxy", background-image: url("https://i.imgur.com/7caQVTp.gif"), color: #fff, ),
  "197773757492887552": ( content: "Universal", background: #1e90ff, color: #fff, ),
  "203225332285833216": ( content: "!important", background: #bb2020, color: #fff, ),
  "203836668422258688": ( content: "Ours", background: #fff, color: #000, ),
  "203849645892435968": ( content: "YouTuber", background: #ff00d4, color: #fff, ),
  "207896844884246528": ( content: "Careless", background: #ea218a, color: #000, ),
  "209044991333498882": ( content: "undead", background: #414fdc, color: #fff, ),
  "210152253103931393": ( content: "Hentai King", background: #00dd81, color: #ddaadd, ),
  "211315836626010113": ( content: "Javascript Boi", background: #00204f, color: #fff, ),
  "211895683123249153": ( content: "Forge", background: #3e82e5, color: #fff, ),
  "216382288378724352": ( content: "Element", background: #fff, color: #006e84, ),
  "216683534742454272": ( content: "Beasted", background: #ff7000, color: #fff, ),
  "218783101826891777": ( content: "one", background: #c70039, color: #000, ),
  "219980019236208640": ( content: "upsets bitch", background: #c235ff, color: #fff, ),
  "222608106683760651": ( content: "Trap King", background: #7289da, color: #fff, ),
  "225005614797946880": ( content: "POPULAR", background: #7289da, color: #fff, ),
  "226001634189246465": ( content: "THE LORD", background: #f7931a, color: #fff, ),
  "226696771454238731": ( content: "GAY", background: #00004c, color: #fff, ),
  "227191699930087425": ( content: "VXIDGXD", background: #63075d, color: #fff, ),
  "227411672774475776": ( content: "Sethy's Salt <3", background: #a0c7fa, color: #fff, ),
  "228340391911489536": ( content: "HvHer", background: #1e2124, color: #fff, ),
  "231497890353250307": ( content: "Divine Being", background: #47d1d1, color: #fff, ),
  "234144873576529920": ( content: "osu! Player", background: #fb0202, color: #000, ),
  "236006926406778881": ( content: "🏳️‍🌈", background: transparent, color: #fff, ),
  "236863914078371842": ( content: "Immortal Hero", background: #f5a9e1, color: #fff, ),
  "239488378943438850": ( content: "WOMANIZER", background: #000000, color: #fff, ),
  "241735290035634178": ( content: "NoLife", background: #ff00db, color: #000, ),
  "244429806215757825": ( content: "OWNER", background: #df0101, color: #fff, ),
  "247528761925435393": ( content: "☠️Owner☠️", background: #00bfff, color: #fff, ),
  "248947473161256972": ( content: "Effort", background: #911ff9, color: #fff, ),
  "254674372734746626": ( content: "Meh", background: #ff1493, color: #fff, ),
  "255369537149468682": ( content: "1taps", background: #0067ff, color: #fff, ),
  "259733021786243085": ( content: "LEGEND", background: #0000ff, color: #fff, ),
  "259875605443641344": ( content: "J's Lady", background: #000, color: #fff, ),
  "263467234817605633": ( content: "Illuminous", background: #a81103, color: #000, ),
  "264551860784857090": ( content: "noob", background: #ffff00, color: #000, ),
  "264594101570109441": ( content: "GV2 Star", background: #c75913, color: #000, ),
  "265668084084375552": ( content: "ÜLEM", background: #0080ff, color: #fff, ),
  "266682913653915650": ( content: "Faggot", background: #00ffff, color: #fff, ),
  "271578593417625600": ( content: "DEVELOPER", background: #3e82e6, color: #fff, ),
  "272794408578056192": ( content: "1337", background: #191970, color: #fff, ),
  "275292869831688195": ( content: "SUPREME LEADER", background: #007eff, color: #fff, ),
  "275442117428641792": ( content: "BOT", background: #42f4b6, color: #fff, ),
  "277540589569048577": ( content: "RachelUMIDO", background: #ff4500, color: #fff, ),
  "281323790124711937": ( content: "leprosy", background: #7289da, color: #fff, ),
  "282138006738042880": ( content: "miau", background: #821099, color: #026a7c, ),
  "283418670867152897": ( content: "Ruby", background: #e0115f, color: #fff, ),
  "297463921445699594": ( content: "Provolone", background: #24c397, color: #fff, ),
  "300365386031824897": ( content: "DOGGO", background: #00a4e4, color: #fff, ),
  "300456407222714381": ( content: "I like eyes", background: #3e82e6, color: #fff, ),
  "308287952230940672": ( content: "Nuggets Plz", background: #ff7fd3, color: #fff, ),
  "314543782785843201": ( content: "bigdicjoe", background: #ff0000, color: #000, ),
  "315245920424034304": ( content: "Beast", background: #3e82e6, color: #000, ),
  "317382522923122689": ( content: "Bananaman", background: #ffe135, color: #fff, ),
  "317731521639350272": ( content: "Godfather", background: #be1b1c, color: #fff, ),
  "322311761023860737": ( content: "Kat", background: #3e82e6, color: #fff, ),
  "348110308931403776": ( content: "Beasted", background: #ff6f00, color: #fff, ),
  "348134506101997569": ( content: "Hatty", background: #830303, color: #000, ),
  "349041709306347520": ( content: "Viralsuperstar", background: #00ff81, color: #000, ),
  "367250478519549962": ( content: "Rene's Husband", background: #f442df, color: #fff, ),
  "372936143982952449": ( content: "The OG", background: #bce55b, color: #fff, ),
  "373823917313490945": ( content: "Quetzalcoatl", background: #800080, color: #fff, ),
  "385243277101891584": ( content: "Developer", background: #7289da, color: #fff, ),
  "388107896682053643": ( content: "Stupendous", background: #56a5ec, color: #fff, ),
  "396051616920502276": ( content: "Good Vibes", background: #424e73, color: #fff, ),
  "396479572956282888": ( content: "Donator", background: #3e82e6, color: #fff, ),
  "398846356829241356": ( content: "Divine Priest", background: #e6e600, color: #000, ),
  "401893616211197962": ( content: "EXiTthisEarth", background: #ff0000, color: #fff, ),
  "402272736665272320": ( content: "Monster", background: #454d5a, color: #fff, ),
  "408150576552214529": ( content: "superior", background: #ff0000, color: #fff, ),
  "412313063149142030": ( content: "HardcoreMemer", background: #030303, color: #fff, ),
  "412315574178283520": ( content: "Owner", background: #ff0000, color: #fff, ),
  "425126167930994689": ( content: "Anbu", background: #fff, color: #000, ),
  "426283874168078339": ( content: "YouTuber", background: #ff0000, color: #000, ),
  "433698341008965633": ( content: "MemeGaming 😃", background: #18b1c7, color: #000, ),
  "435311437577977857": ( content: "VI · XVI", background: #f2bada, color: #f2f7f8, ),
  "442377249254277143": ( content: "Poopy butt xd", background: #0000ff, color: #000, ),
  "442450957889175552": ( content: "Not ROBLOX", background: #000, color: #f00, ),
  "73336881655316480": ( content: "Ganondorf", background: #007cb0, ),
  "81031640578535424": ( content: "Donator", background: #094f96, color: #fff, ),
  "83800133971476480": ( content: "Bsin", background: #800000, color: #fff, ),
  "85019957745709056": ( content: "SKRRT", ),
  "92738910362292224": ( content: "Capy Coder", background: #d88d56, color: #fff, ),
  "92847808247263232": ( content: "Tinkerer", background: #f44242, color: #fff, ),
  "94825231792734208": ( content: "King of Knights", background: #0276fd, color: #fff, ),
  "96563253466898432": ( content: "Mad Titan", background-image: url("https://cdn.discordapp.com/attachments/439813745213177856/442389351964606464/d0411314-2b97-49ac-b194-4e2dfcb5292c.gif"), color: #40e0d0, ),
  "98241610826911744": ( content: "Loading...", background: #0087ff, color: #fff, ),
  "98458069532426240": ( content: "ELEVATE", background: #000000, color: #fff, ),
);

.message-group .username-wrapper::after,
.username-1cB_5E::after {
  color: #fff;
  background-color: #202225;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;

  flex-shrink: 1;
  min-width: 8px;

  margin-left: 6px;
  padding: 1px 4px;
  border-radius: 3px;

  vertical-align: bottom;
  overflow: hidden;
}

@each $userid, $content in $user_tags {
  // [data-author-id="#{$userid}"] .username-wrapper::after,
  [data-user-id="#{$userid}"] .username-MwOsla::after,
  [style*="avatars/#{$userid}"] ~ .comment .username-wrapper::after {
    @each $property, $value in $content {
      #{$property}: $value;
    }
  }
}
